*{
    background-section-main : #2f4254;
}

.background-main {
    background-image: linear-gradient(to right, #0A8270, #95FF87);
}

/* <--------Background Function-----------------------------------------------> */

.background-main {
    background-image: linear-gradient(to right, #0A8270, #95FF87);
}

/* <--------------------------------------------------------------------------> */

/* <--------Text Function-----------------------------------------------------> */



/* <--------------------------------------------------------------------------> */