*{
    background-section-main : #2f4254;
}

.background-main {
    background-image: linear-gradient(to right, #0A8270, #95FF87);
}

/* <--------Layout Function---------------------------------------------------> */

.background-section-main {
    background-image: linear-gradient(to right, #0A8270, #95FF87);
}

.background-section-sidebar {
    background-color: transparent;
}

/* <--------------------------------------------------------------------------> */

/* <--------Button Function---------------------------------------------------> */

.btn-sidebar-build {
    background-color: transparent;
}

.btn-sidebar-hotel {
    background-color: transparent;
}

.btn-sidebar-transpot {
    background-color: transparent;
}

.btn-sidebar-tourlist {
    background-color: transparent;
}

.btn-sidebar-insurance {
    background-color: transparent;
}

/* <--------------------------------------------------------------------------> */

/* <--------Text Function-----------------------------------------------------> */

/*  */

/* <--------------------------------------------------------------------------> */