*{
    /* Color Mix */
    main-color                  : #0A8270; /* Pine Green */
    sub-color                   : #95FF87; /* Mint Green */
    btn-color                   : #1E4BCA; /* Blue */

    /* Layout */
    background-section-main     : #0A8270; /* Pine Green */
    background-section-sidebar  : #0A8270; /* Pine Green */
    background-section-option   : #ffffff; /* White */
    background-text-field       : #ffffff; /* White */
    background-text-area        : #ffffff; /* White */

    /* Button */
    btn-sidebar-hover           : #ffffff; /* White */
    btn-app-default-hover       : #ffffff; /* White */
    btn-sidebar-build           : rgba(0,0,0,0); /* transparent */
    btn-sidebar-hotel           : rgba(0,0,0,0.5); /* transparent */
    btn-sidebar-transport       : rgba(0,0,0,0.5); /* transparent */
    btn-sidebar-tourList        : rgba(0,0,0,0.5); /* transparent */
    btn-sidebar-insurance       : rgba(0,0,0,0.5); /* transparent */
    btn-color-default           : #1E4BCA; /* Blue */
    btn-color-cancel            : #D2D2D2; /* Gray */

    /* Text */
    header-color                : #000000; /* Black */
    title-color-btn-sidebar     : #ffffff; /* white */
    title-btn-hotel-choose      : #ffffff; /* White */
    title-btn-default           : #ffffff; /* White */
    title-btn-cancel            : #000000; /* Black */
    title-color-on-page         : #000000; /* Black */
    title-on-btn-radio          : #000000; /* Black */
    title-color-price           : #FF0000; /* Red */
    text-color-on-text-field    : #000000; /* Black */
    text-color-on-text-area     : #000000; /* Black */
    text-area-border            : #D2D2D2; /* Gray */
    text-field-border           : #D2D2D2; /* Gray */
}

@font-face {
    font-family: 'RSU';
    src: url('/font/RSU_Regular.ttf');
}

.text {
    -fx-font-family: "RSU";
}

/* <--------Layouts Function--------------------------------------------------> */

.background-section-logo {
    -fx-pref-width: 300;
    -fx-pref-height: 50;
    -fx-fit-to-width: 300;
    -fx-fit-to-height: 50;
}

.background-section-main-normal {
    -fx-background-color: background-section-main;
}

.background-section-main-linear {
    -fx-background-color: linear-gradient(to right bottom, main-color , sub-color);
    -fx-pref-width: 1366px;
    -fx-pref-height: 768px;
}

.background-section-sidebar {
    -fx-background-color: backround-section-sidebar;
    /*-fx-pref-width: 300;*/
}

.background-section-option {
    -fx-background-color: background-section-option;
    -fx-background-radius: 30px;
    -fx-border-radius: 30px;
    -fx-pref-width: 1000;
    -fx-pref-height: 700;
    -fx-translate-x: 20;
}

.background-section-scrollbar {
    -fx-background-color: background-section-option;
    -fx-background-radius: 30px;
    -fx-border-radius: 30px;
    -fx-pref-width: 1000;
    -fx-pref-height: 700;
    -fx-translate-x: 20;
}

.pane-section-layout {
    -fx-pref-width: 1000px;
}

.v-box-layout {
    -fx-pref-width: 300;
}

.v-box-btn-sidebar {
    -fx-pref-width: 350px;
}

.card-hotel {
    -fx-pref-width: 500px;
    -fx-max-width: 500px;
    -fx-pref-height: 50px;
}

/* <--------------------------------------------------------------------------> */

/* <--------Buttons Function--------------------------------------------------> */

.image-view-logo-icon {
    -fx-pref-width: 50;
    -fx-pref-height: 50;
}

.btn-sidebar-default {
    -fx-background-color: btn-sidebar-build;
    -fx-text-fill: title-color-btn-sidebar;
    -fx-font-size: 20;
    -fx-font-size: 20;
    -fx-background-radius: 50px;
    -fx-border-radius: 50px;
    /*-fx-pref-width: 400;*/
    -fx-pref-width: 400;
    -fx-pref-height: 50;
    -fx-translate-x: 20;
    -fx-translate-x: 20;
}

.btn-sidebar-default:hover {
.btn-sidebar-default:hover {
    -fx-background-color: btn-sidebar-hover;
    -fx-text-fill: main-color;
}

.btn-sidebar-build {
    -fx-background-color: btn-sidebar-build;
    -fx-text-fill: title-color-btn-sidebar;
    -fx-font-size: 24;
    -fx-background-radius: 50px;
    -fx-border-radius: 50px;
    -fx-pref-width: 350;
    -fx-pref-height: 50;
}

.btn-sidebar-hotel {
    -fx-background-color: btn-sidebar-hotel;
    -fx-text-fill: title-color-btn-sidebar;
    -fx-font-size: 36;
    -fx-background-radius: 50px;
    -fx-border-radius: 50px;
}

.btn-sidebar-transport {
    -fx-background-color: btn-sidebar-transport;
    -fx-text-fill: title-color-btn-sidebar;
    -fx-font-size: 36;
    -fx-background-radius: 50px;
    -fx-border-radius: 50px;
}

.btn-sidebar-tourList {
    -fx-background-color: btn-sidebar-tourlist;
    -fx-text-fill: title-color-btn-sidebar;
    -fx-font-size: 36;
    -fx-background-radius: 50px;
    -fx-border-radius: 50px;
}

.btn-sidebar-insurance {
    -fx-background-color: btn-sidebar-insurance;
    -fx-text-fill: title-color-btn-sidebar;
    -fx-font-size: 36;
    -fx-background-radius: 50px;
    -fx-border-radius: 50px;
}

.btn-sidebar-logout {
    -fx-background-color: btn-sidebar-build;
    -fx-text-fill: title-color-btn-sidebar;

    -fx-font-size: 24;
    -fx-font-size: 20;
    -fx-background-radius: 50px;
    -fx-border-radius: 50px;
    -fx-pref-width: 200;
    -fx-pref-height: 50;
}

.btn-sidebar-logout:hover {
    -fx-background-color: btn-sidebar-hover;
    -fx-background-color: btn-sidebar-hover;
    -fx-text-fill: main-color;

}

.btn-hotel-choose {
    -fx-background-color: btn-color-defualt;
    -fx-text-fill: title-btn-hotel-choose;
    -fx-font-size: 16;
    -fx-border-radius: 5;
}

.btn-app-default {
    -fx-background-color: btn-color-default;
    -fx-text-fill: title-btn-default;
    -fx-font-size: 16;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-pref-width: 100;
    -fx-pref-height: 40;
}

.btn-app-default:hover {
    -fx-background-color: btn-app-default-hover;
    -fx-text-fill: btn-color;
    -fx-border-color: btn-color;
    -fx-border-width: 2;
}

.btn-app-cancel {
    -fx-background-color: btn-color-cancel;
    -fx-text-fill: title-btn-cancel;
    -fx-font-size: 16;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-pref-width: 100;
    -fx-pref-height: 40;
}

.btn-app-cancel:hover {
    -fx-background-color: btn-app-default-hover;
    -fx-text-fill: title-btn-cancel;
    -fx-border-color: title-btn-cancal;
    -fx-border-width: 2;
}

.btn-page {
    -fx-background-color: btn-color-default;
    -fx-text-fill: title-btn-default;
    -fx-font-size: 12;
    -fx-border-radius: 20;
}

.btn-radio {
    -fx-text-fill: title-on-btn-radio;
    -fx-font-size: 16;
    -fx-border-radius: 20;
}

/* <--------------------------------------------------------------------------> */

/* <--------Text Function-----------------------------------------------------> */

/* Header */
.header {
    -fx-text-fill: header-color;
    -fx-font-size: 30;
    -fx-font-size: 30;
}

/* title */
.title-on-page {
    -fx-text-fill: title-color-on-page;
    -fx-font-size: 16;
}

.title-price {
    -fx-text-fill: title-color-price;
    -fx-font-size: 12;
}

.text-field-set {
    -fx-background-color: background-text-field;
    -fx-text-fill : text-color-on-text-field;
    -fx-font-size: 12;
    -fx-border-color: text-field-border;
}

.text-area-set {
    -fx-background-color: background-text-area;
    -fx-text-fill : text-color-on-text-area;
    -fx-font-size: 12;
    -fx-border-color: text-area-border;
    -fx-pref-width: 800;
}
/* <--------------------------------------------------------------------------> */