*{
    /* Layout */
    defual-background-section-main     : #0A8270; /* Pine Green */
    defual-background-section-sidebar  : #0A8270; /* Pine Green */
    defual-background-section-option   : #ffffff; /* White */
    defual-background-text-field       : #ffffff; /* White */
    defual-background-text-area        : #ffffff; /* White */

    /* Button */
    defual-btn-sidebar-build           : rgba(0,0,0,0.5); /* transparent */
    defual-btn-sidebar-hotel           : rgba(0,0,0,0.5); /* transparent */
    defual-btn-sidebar-transport       : rgba(0,0,0,0.5); /* transparent */
    defual-btn-sidebar-tourList        : rgba(0,0,0,0.5); /* transparent */
    defual-btn-sidebar-insurance       : rgba(0,0,0,0.5); /* transparent */
    defual-btn-color-defual            : #02457A; /* Dark Cerulean */

    /* Text */
    defual-header-color                : #000000; /* Black */
    defual-title-color-btn-sidebar     : #ffffff; /* white */
    defual-title-btn-hotel-choose      : #ffffff; /* White */
    defual-title-color-on-page         : #000000; /* Black */
    defual-title-color-price           : #FF0000; /* Red */
    defual-text-color-on-text-field    : #000000; /* Black */
    defual-text-color-on-text-area     : #000000; /* Black */

}